// Import page-specific CSS files here.
@import "home";



.bag {
  transition: transform 0.3s ease;
}

.bag:hover {
  transform: translateY(-5px);
}

.hover-effect {
  transition: transform 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.05);
}

.image-size {
  width: 100%;
  max-height: 250px;
}



