<div class= "container">
 <%= @bag.name %>
   <p>
    <strong><%= @bag.brand %></strong>
  </p>
   <p>
    <strong><%= @bag.price %></strong>
  </p>
    <p>
    <%= @bag.description %>
  </p>

</div>
