 <div class="footer-container">
    <div class="row">
      <div class="col-md-6">
        <h5>Address</h5>
        <p>123 East road, London, UK</p>
      </div>
      <div class="col-md-6">
        <h5>Follow Us</h5>
        <ul class="social-media-icons">
          <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
